.page-grid {
  --page-grids: 3;
  display: grid;
  grid-template-columns: [start] repeat(var(--page-grids), 1fr) [end];
  column-gap: var(--size-spacing-medium);
}

.page-grid > mu-auth {
  display: contents;
}

.page-grid > mu-auth > section {
  grid-column: start / end;
  display: grid;
  grid-template-columns: subgrid;

  > h2 {
    grid-column: auto / span 1;
  }
}

.workout > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.exercises {
  > dl {
    --page-grids: 2;

    display: grid;
    grid-template-columns: [start] repeat(var(--page-grids), 1fr) [end];

    > exercise-entries {
      border: var(--size-border) solid var(--color-accent);
      border-top: none;
      padding: var(--size-spacing-medium);
    }
  }
  :nth-child(even) {
    border-left: none;
  }
}
